{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}
<div class="container">
    <div class="page-header">
        <h1>Device Monitor Admin</h1>
    </div>
    <p>This is the device monitor admin page. You can manage the hosts in the database by clicking the hosts links above.</p>
    <p>This is very much a work in progress, it should soon be styled similarly to the main device monitor page.</p>
    <a class="btn btn-primary" href="/"><i class="glyphicon glyphicon-chevron-left"></i> Back</a>
</div>
{% endblock body %}